<section>
  <h3>Questions (only one answer possible) :</h3>
  <h4>Score : <span>{{average}}</span></h4>
  <p id="yoda" *ngIf="answered">Yoda's judgement : "<span [innerHTML]="yodaMsg"></span>"</p>
  <div id="questions" *ngFor="let question of questions; let i = index">
    <app-question [id]="question.id" [question]="question.title" (answer)="onGetAnswer($event)"></app-question>
    <div class="score" *ngIf="answered">
      <p>Bonne réponse : <span>{{convertedAnswers[i]}}</span></p>
    </div>
  </div>
  <button (click)="onSubmit()">Submit</button>
</section>