<form [formGroup]="movieForm">
  <input formControlName="identifiant">
  <input formControlName="titre">
  <label for="types">Types
    <select formControlName="types"  id="types">
      <option [defaultSelected]='type' *ngFor="let type of types, let i = index" [ngValue]="type.id">
       <span [innerHTML]='type.type'></span>
      </option>
    </select>
  </label>
  <input formControlName="sortie">
  <label for="fiches">
    <select formControlName="fiche" id="fiche">
      <option [defaultSelected]='fiche[0]' *ngFor="let f of fiche, let i = index" [ngValue]="f">
        <span [innerHTML]='f'></span>
      </option>
    </select>
  </label>
  
</form>
